<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Políticas de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Políticas de Privacidade</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>Política de Privacidade</h1>
    <p>Esta Política de Privacidade descreve como as informações pessoais dos usuários são coletadas, usadas e protegidas quando utilizam o nosso site de busca de CEP.</p>
    <p><strong>Coleta de Informações:</strong> Quando você utiliza nosso site de busca de CEP, podemos coletar o endereço de IP, informações de geolocalização e dados inseridos na pesquisa de CEP.</p>
    <p><strong>Uso das Informações:</strong> As informações coletadas são utilizadas exclusivamente para fornecer o serviço de busca de CEP solicitado pelo usuário, bem como para melhorar a qualidade e a precisão dos resultados. Não compartilhamos ou vendemos suas informações pessoais a terceiros sem o seu consentimento.</p>
    <p><strong>Segurança:</strong> Tomamos medidas de segurança adequadas para proteger as informações pessoais dos usuários contra acesso não autorizado, alteração ou destruição. No entanto, não podemos garantir a segurança absoluta dos dados transmitidos pela Internet.</p>
    <p><strong>Cookies:</strong> Utilizamos cookies no nosso site para personalizar conteúdo e anúncios, fornecer recursos de mídia social e analisar o tráfego. Ao utilizar nosso site, você concorda com o uso de cookies.</p>
    <p><strong>Alterações nesta Política de Privacidade:</strong> Reservamo-nos o direito de atualizar ou modificar esta Política de Privacidade a qualquer momento. Recomendamos que você revise periodicamente esta página para se manter informado sobre eventuais alterações.</p>
    <p>Para mais informações sobre nossa Política de Privacidade, entre em contato conosco através dos canais disponibilizados no nosso site.</p>
  </div>

</ion-content>
