<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>Busca de CEP</h1>
    <p>Bem-vindo ao nosso site de busca de CEP, uma ferramenta simples e eficiente para encontrar informações detalhadas sobre endereços através do Código de Endereçamento Postal (CEP).</p>

    <h2>Como funciona</h2>
    <p>Utilizar nosso site de busca de CEP é rápido e fácil. Basta digitar o CEP desejado no campo de busca e clicar em "Buscar". Nossa plataforma irá realizar uma busca em nosso banco de dados e retornar as informações associadas ao CEP informado.</p>

    <h2>Benefícios</h2>
    <p>Nosso site oferece uma série de benefícios aos usuários:</p>
    <ul>
      <li><strong>Rapidez:</strong> Encontre informações detalhadas sobre um endereço em questão de segundos.</li>
      <li><strong>Facilidade de uso:</strong> Uma interface intuitiva e amigável, projetada para tornar a busca de CEP simples e acessível.</li>
      <li><strong>Ampla cobertura:</strong> Nossa base de dados abrange CEPs de todo o país, proporcionando um amplo alcance de pesquisa.</li>
      <li><strong>Precisão:</strong> Trabalhamos constantemente para garantir que as informações fornecidas sejam precisas e atualizadas.</li>
      <li><strong>Compatibilidade:</strong> Nosso site é desenvolvido em Angular, o que garante uma experiência de usuário consistente em diferentes dispositivos e navegadores.</li>
    </ul>

    <h2>Segurança e Privacidade</h2>
    <p>Prezamos pela segurança e privacidade dos usuários. As informações pessoais fornecidas durante a busca de CEP são tratadas com o máximo cuidado e não são compartilhadas com terceiros sem o consentimento do usuário.</p>

    <h2>Contate-nos</h2>
    <p>Se você tiver alguma dúvida, sugestão ou precisar de suporte, nossa equipe de atendimento está pronta para ajudar. Acesse nossa página de "Contatos" para obter mais informações sobre como entrar em contato conosco.</p>
  </div>

</ion-content>
