<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Faça contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Faça contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>Contatos</h1>
    <p>Entre em contato conosco caso tenha alguma dúvida, sugestão ou precise de suporte em relação ao nosso site de busca de CEP.</p>
    <p>Você pode nos contatar das seguintes maneiras:</p>

    <ul>
      <li><strong>Email:</strong> <a href="mailto:contato@buscacep.com">contato@buscacep.com</a></li>
      <li><strong>Telefone:</strong> +55 123 456 789</li>
      <li><strong>Endereço:</strong> Rua Exemplo, 123, Cidade Exemplo, Estado Exemplo, CEP 12345-678</li>
    </ul>


  </div>



</ion-content>
